ul, li{
  list-style: none;
}

.cards-container{
  width: 100vw;
  display: flex;
  justify-content: center;
}

.cards-list{
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  width: 100%;
  padding: 40px;
  gap: 40px;
  flex-wrap: wrap;
  justify-content: center;
}

.card{
  border-radius: 30px;
  background-color: white;
  color: black;
  width: 220px;
  height: 310px;
  overflow: hidden;
}

.text{

}

.author{
  color: gray;
}